/* You can add global styles to this file, and also import other style files */


:root {
  --body-bg: hsl(0, 0%, 13%)
}

html {
  font-size: 70.5%; //1 rem = 10/16
  color-scheme: dark light !important;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body
 {
  background: var(--body-bg);
  font-family: system-ui;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: white;
}

